@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#wrapper{
    height: 100%;
    overflow:hidden;
    display: flex;
    font-family: 'Jua', sans-serif;
    font-size: 18px;
}

#left{
    width: 80%;
    height: 100vh;
    margin-left: 10%;
}


#out{
    position: absolute;
    bottom: 5%;
    left: 50%;
}

#contentWrapper{
    height: 94vh;
    background-color: white;
    overflow: scroll;
}

#listWrap{
    border: none;
}



#label{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 5vh;
    width: 60px;
    background-color:lightgray ;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#inputText{
    width: 100%;
    height: 5vh;
    border: 1px solid gray;
    border-radius: 5px;
}

#btnPrimary{
    background-color: #3474B3;
    color: white;
    border: 1px solid ;
    height: 5vh;
    width: 80px;
    margin-left: -3px;
    border-radius: 5px;
}

#input_group{
    display: flex;
}

#clock{
    width: 100%;
    height: 100%;
}