.wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.findId, .findPw{
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin: 15px 0;
  background-color: rgba(230, 229, 229, 0.8);
  width: 300px;
  height: 60px;
  border: 1px solid black;
  cursor: pointer;
}

.findId:hover, .findPw:hover{
  color: grey;
}

.toggleInner {
  background-color: black;
  display: block;
  width: 200%;
  margin-left: -100%;
}

.toggleInner:before,
.toggleInner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  box-sizing: border-box;
  content: "";
}

.toggleInner:before {
  background-color: pink;
}

.toggleInner:after {
  background-color: #bbb;
}

.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 50%;
}

.checkbox:checked+.label .toggleInner {
  margin-left: 0;
}

.checkbox:checked+.label .switch {
  right: 0px;
}

/* toggleinner와 switch에 적용 */
/* switch의 transition property는 all을 적용한다 */

/* transition: margin-left 0.3s ease-in; */